@import "tailwindcss";


/* Define color variables for light and dark themes */
:root {
  --color-primary: #1447e6;
  --color-background: #f9f9f9;
  --color-background-secondary: #dce2ea;
  --color-background-theme:#1447e6; 
  --color-secondary: #1e2939;

  --color-gradient-nav-start: #1447e6;
  --color-gradient-nav-end: #1c398e;
  --color-card-gradient-start: #1447e6;
  --color-card-gradient-end: #1c398e;
  --color-gradient-start: #eff6ff;
  --color-gradient-end: oklch(0.962 0.018 272.314);

  --color-background-card:#ffffff;
  
  --color-bg-green:#daffe7;
  --color-text-green:oklch(0.723 0.219 149.579);
  
  --color-bg-blue:#dbeafe;
  --color-text-blue:#155dfc;

  --color-text-gradient-start: #eff6ff ;
  --color-text-gradient-mid: oklch(0.962 0.018 272.314) ;
  --color-text-gradient-end: #ffffff;

  --color-gradient-blue-start:oklch(0.623 0.214 259.815);
  --color-gradient-blue-end:oklch(0.809 0.105 251.813);

  --color-card-blue:oklch(0.882 0.059 254.128);
  --color-card-green:#b9f8cf;
  --color-card-amber:#fee685;

  --color-text-gray: #6a7282;
}

.dark {
  --color-primary: #ffffff;
  --color-background: #121212;
  --color-background-secondary: #364153;
  --color-secondary: #d1d5dc;
  --color-background-theme:#ffffff; 

  --color-background-card:#364154;

  --color-gradient-nav-start: #1e2939;
  --color-gradient-nav-end: #101828;
  --color-gradient-start: #1e2939;
  --color-gradient-end: #101828;
  --color-text-gradient-start: #101828;
  --color-text-gradient-mid: #1e1a4d;
  --color-text-gradient-end: #000000;

  --color-bg-green:#166436;
  --color-text-green:oklch(0.723 0.219 149.579);

  --color-bg-blue:#1c398e;
  --color-text-blue:#7799ff;

  --color-card-gradient-start:#364153;
  --color-card-gradient-end:#172135;

  --color-gradient-blue-start:#1c398e;
  --color-gradient-blue-end:#1447e6;

  --color-card-blue:#1447e6;
  --color-card-green:oklch(0.527 0.154 150.069);
  --color-card-amber:oklch(0.555 0.163 48.998);

  --color-text-gray: #99a1af;
}

.bg-primary {
  background-color: var(--color-background);
}
.bg-secondary {
  background-color: var(--color-background-secondary);
}

.bg-theme {
  background-color: var(--color-background-theme);
}

.bg-background {
  background-color: var(--color-background);
}

.bg-contrast {
  background-color: var(--color-secondary);
}

.bg-blue {
  background-color: var(--color-text-blue);
}

.bg-card-blue {
  background-color: var(--color-card-blue);
}
.bg-card-green {
  background-color: var(--color-card-green);
}
.bg-card-amber {
  background-color: var(--color-card-amber);
}

.bg-card {
  background-color: var(--color-background-card);
}

.text-primary {
  color: var(--color-primary);
}

.text-gray{
  color: var(--color-text-gray);
}

.text-blue {
  color: var(--color-text-blue);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-contrast {
  color: var(--color-background);
}

.border-contrast {
  border: 1px solid var(--color-secondary);
}

.nav-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-nav-start), var(--color-gradient-nav-end));
}

.bg-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
}

.bg-gradient-blue {
  background: linear-gradient(to right, var(--color-gradient-blue-start), var(--color-gradient-blue-end));
}

.card-green {
  background-color: var(--color-bg-green);
  color: var(--color-text-green);
}

.card-blue {
  background-color: var(--color-bg-blue);
  color: var(--color-text-blue);
}

.card-theme-gradient {
  background: linear-gradient(to right, var(--color-card-gradient-start), var(--color-card-gradient-end));
}

.text-theme-gradient {
  background: linear-gradient(to bottom right, var(--color-text-gradient-start), var(--color-text-gradient-mid), var(--color-text-gradient-end));
}

.text-mask {
  background: url("your-video.mp4");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}

::-webkit-scrollbar:horizontal {
    display: none; /* Completely hides horizontal scrollbar */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #e5e7eb; /* Light gray background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6; /* Blue scrollbar handle */
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d4ed8; /* Darker blue on hover */
}
